# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# CatBoost
catboost_info/

# Environment/secrets
.env

# Temporary files
*.tmp